.registration-form{
    width:350px;
    height: auto;
    background-color :white;
    position: absolute;
    top:90px;
    left:38%;
    padding:40px;
    border:.5px solid black;
    margin:auto;
}
.form-input{
    width:100%;
    padding:5px 0px;
    font-size:16px;
    border:none;
    margin:10px 0px;
    border:none;
    border-bottom: 2px solid #333;
    outline:none;
}
.submit-btn{
    background-color: orange;
    padding:5px 30px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    border:none;
    margin-top:8px;
    margin-left:20px;
    text-decoration: none;
}