.heading{
    width: 100%;
    height:400px;
    background-image: url(../../images/finalbg.png);
    background-size: cover;
    background-position: fixed;

}
.nav-item{
    position: relative;
    left: 390px;
    color:black;
    font-weight: 500;

}

